# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#binaries
*.so

#libs
*.a

#files created by build
.idea
*.apk
*.ap_
*.class
projects/Android/build/*
assets/oculussig*
Projects/Android/.cxx/*
*.json
Projects/Android/.gradle/*
Projects/Android/.externalNativeBuild/*
*.bin
Projects/Android/.gradle/*
*.ser
Projects/Android/.idea/*
drbeef-release-key.keystore
assets/pak6.pak
Projects/Android/Android.iml
Projects/Projects.iml
VrSamples-Quake2Quest.iml
